:root {
  /* Color Pallete */
  --color-1: #EBEEED;
  --color-2: #737D7A;
  --color-3: #718592;
  --color-4: #4B6271;
  --color-5: #191C24;
}

body {
  background-color: var(--color-1);
}
p {

  font-size: 11px;
}

.projectGrid {
  display: grid; /* Makes the display be in one line.  */
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 40px;
  grid-template-rows: 200px 200px; /* Grid heights */
  justify-content: space-evenly;
  margin-left: 50px;
}

.project {
  background-color: var(--color-2);
  border-radius: 4px;
  color: var(--color-5);
  border: 3px solid var(--color-4);
  width: 80%;

  padding-top: 60px;
  padding-bottom: 60px;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 6px 6px;
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

a, a:visited {
  color: var(--color-5); 
}
