:root {
  --main-bg-color:  #002330; /*This is actually referenced in realisticBoids.js*/
  --main-bg-darker: #001a24;
  --text-light:     #ccd6dc;
  --button-color: #A2C3C1;
}

body {
  position: relative;
  background-color: var(main-bg-color);
}

.sound-buttons {
  position: absolute;
  top: 10vw;
}
/* .on {
  width: 20vw;
  height: 10vh;
  position: absolute;
  left: 8px;
  bottom: 0;
  opacity: 0.6;
  background: #1b1e26;
  z-index: 9;
} */
#modePitch {
  position: absolute;
  background-color: var(--main-bg-darker);
  color: var(--text-light);
  width: 8vw;
  /* height: 4vw; */
  left: 0.5vw;
  top: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}

#app {
  position: absolute;
  width: 24vw;
  left: 75vw;
  font-family: "Georgia", Times, serif;
  font-size: 14px;
  background-color: var(--main-bg-darker);
  color: var(--text-light);
  z-index: 1;
}

#fifth, #majThird, #minThird{
  color: inherit;
}

#minThird {
  text-transform: lowercase;
}

#over {
  position: absolute;
  opacity: 100%;
  z-index: 3;
}
#over-content {
  font-family: "Georgia", Times, serif;
}
